.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #509ddc;
    width: 165px;
}

.todoListMain .header button {
    padding: auto;
    font-size: 15px;
    margin: 5px;
    margin-right: 0px;
    background: #004eff;
    color: #ffffff;
    border: 11px solid #509ddc;
}

.todoListMain .header button:hover {
    background-color: #004EFF;
    border: 11px solid #509ddc;
    cursor: pointer;
}

.todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
}

ul.theList {
    padding: 0;
}